@model FrontendMVC.Models.Login

@{
    ViewBag.Title = "Index";
}

<h2>ShowRss Calendar Creator</h2>

@using (Html.BeginForm()) { 
    <div>Username: @Html.EditorFor(x=>x.Username)</div>
    <div>Password: @Html.EditorFor(x=>x.Password)</div>
    
    <input class="actionButtons" type="submit" value="Create Calendar" />
}
